ul {
    list-style: none;
}
ul.bullets {
    list-style: disc;
}


ul.choices-list {
    margin: 0;
    padding: 5px 0px 0px 0px;
}

ul.indented-list {
    margin-left: 20px;
}


ul.choices-list input[type="checkbox"],
ul.choices-list input[type="radio"] {
    margin-top: 0px;
    margin-bottom: 4px;
    margin-right: 20px;
}

ul.choices-list li {
    padding-bottom: 3px;
    vertical-align: top;
    span {
        padding-top: 0;
    }

    input[type=radio] {
        position: relative;
        top: 2px;
    }
}
