@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,700,300);
@import "./variables";
@import "./custom";

div, p, li, a, h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.logo {
	display: block;
/*	width: 256px;
	height: 52px; */
}

.gray-bg {
	background-color: rgba(244,246,248,1);
	padding: 60px 15px;
}

.footer {
	background-color: rgba(90,90,95,1);
	padding:15px 0 5px 0;
	height: 60px;
}

.top-nav {
	height: 86px;
}

.top-nav-items {
	margin-top: 27px;
}

.top-nav-items a {
	margin-left: 15px;
	text-transform: uppercase;
	font-size: 14px;
	color: #337ab7;
	font-weight:600;
}

nav.bg-dark {
	background-color: #4E9EB8 !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #FFF;
	text-transform: uppercase;
}

.margin-top-5 {
	margin-top: 5px;
}

.dropdown-menu {
	top: 51px;
	padding:0;
	margin:0;
	border:0;
	border-radius: 0;
	background: #397597;
}

.dropdown-item {
	color: #FFF;
	font-size: 18px;
	text-transform: uppercase;
	background: #397597;
	border-top: 1px solid #4E9EB8;
	padding: 20px 30px;
	transition: 0.5s all;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
}

.secondary {
	left: 160px;
	top:0;
	border-left: 1px solid #4E9EB8;
	width: 300px;
}

a#dropdown1a.nav-link.dropdown-toggle {
	color: #FFF;
	font-size: 18px;
	text-transform: uppercase;
	background: #397597;
	border-top: 1px solid #4E9EB8;
	padding: 20px 30px;
	transition: 0.5s all;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
}


.dropdown-item:focus, .dropdown-item:hover {
	background: #4E9EB8;
	color: #FFF;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.show-sm {
	display: none;
}

.hidden-sm {
	display: block;
}

.custom-toggler.navbar-toggler {
    border-color: none;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(150,150,150, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.max-width-720 {
	max-width: 720px;
	margin: 0 auto;
	display: block;
}


.calc-button {
	background: $color-enterprise-blue;
	color: #FFF;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
}

@media (max-width: 991px) {
	.social-icons {
		text-align: center;
		margin: 0 auto 10px auto;
		display: block;
	}
	.footer {
		height: auto;
		padding-bottom: 10px;
	}
	.logo-sm {
		float: none !important;
		display: block !important;
		margin: 0 auto !important;
		text-align: center;
	}
	.show-sm {
		display: block;
	}
	.hidden-sm {
		display: none;
	}
	nav.bg-dark {
		background: transparent !important;
	}
	.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .nav-link {
		color: rgba(80,80,80,1);
		text-align: right;
	}
	.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
		opacity: 0.8;
		color: rgba(80,80,80,1);
	}
	.custom-toggler {
		margin-top: -90px;
	}
	.navbar {
		padding: 0;
	}
}